 <html lang="ru">
 <head>
 	<title>Вход</title>

    <meta charset="utf-8">

     <link rel="stylesheet" href="../static/style.css">
   <style>

   </style>
 </head>

 <body>

 <div class="row">
  <div class="column" align="right">
      <!--img src="../img/logo.png" alt="Задана ширина и высота" width="350" height="460"-->
<!--img src="img.png" width="30%" align="center" border="3" hspace="10%" vspace="10%" /-->

  </div>

  <div class="column" align="left">
          <h2 style="font-size:40px; font-weight: lighter;">Вход в систему Minor</h2>
          <p style="font-size:16px; font-weight: lighter; padding: 0px;">Войдите в вашу учетную запись</p>



      <input id="users-login" placeholder="Логин"/>
      <input id="users-password" placeholder="Пароль"/>
      <!--form action="handler.php">
   <p class="pass_log">

       <input maxlength="25" name="login" class="textField"> </p>
   <p>
       <input type="password" maxlength="25" name="password" class="passField"></p>
   <p>
       <input type="submit" value="Войти"></p>
  </form -->

    <p><a href="/Child"><button class="button button1">Продолжить</button></a></p>

      <p><a href="/Register"><button class="button button2">Регистрация</button></a></p>

  </div>
</div>

 </body>

</html>