 <html lang="ru">
 <head>
 	<title>Регистрация ребёнка</title>

    <meta charset="utf-8">

     <link rel="stylesheet" href="../static/style.css">
   <style>

   </style>
 </head>

 <body>

 <div class="row">
  <div class="column" align="right">
          <!--img src="../img/logo.png" alt="Задана ширина и высота" width="350" height="460"-->

  </div>

  <div class="column" align="left">
          <h2 style="font-size:40px; font-weight: lighter;">Зарегистрировать ребёнка</h2>
          <p style="font-size:16px; font-weight: lighter; padding: 0px;">Создайте вашу учетную запись</p>


    <input id="users-fio-reb" placeholder="Имя ребёнка"/>
      <input id="users-password-reb" placeholder="Пароль ребёнка"/>


      <p><a href="/"><button class="button button1">Продолжить</button></a></p>
      <p><button class="button button1">Вернуться</button></p>
      <!--form action="handler.php">
   <p class="pass_log">

       <input maxlength="25" name="login" class="textField"> </p>
   <p>
       <input type="password" maxlength="25" name="password" class="passField"></p>
   <p>
       <input type="submit" value="Войти"></p>
  </form -->

  </div>


</div>

 </body>

</html>