<html lang="ru">
 <head>
 	<title>Регистрация</title>

    <meta charset="utf-8">

     <link rel="stylesheet" href="../static/style.css">
   <style>

   </style>
 </head>

 <body>

 <div class="row">
  <div class="column" align="right">
          <!--img src="img/logo.png" alt="Задана ширина и высота" width="350" height="460"-->

  </div>

  <div class="column" align="left">
          <h2 style="font-size:40px; font-weight: lighter;">Регистрация</h2>
          <p style="font-size:16px; font-weight: lighter; padding: 0px;">Создайте вашу учетную запись</p>



      <input id="users-fio" placeholder="ФИО"/>
      <p>Эта информация необходима для корректной работы с тех. поддержкой</p>
      <input id="users-email" placeholder="Email"/>
      <p>При авторизации в веб-приложении необходим ваш логин родителя и пароль, который вы тут задаете</p>
      <input id="users-login" placeholder="Логин"/>
      <p></p>
      <input id="users-password" placeholder="Пароль"/>
      <p></p>
      <p><a href="/Register-rebenoc"><button class="button button1">Продолжить</button></a></p>
      <!--form action="handler.php">
   <p class="pass_log">

       <input maxlength="25" name="login" class="textField"> </p>
   <p>
       <input type="password" maxlength="25" name="password" class="passField"></p>
   <p>
       <input type="submit" value="Войти"></p>
  </form -->

  </div>


</div>

 </body>

</html>