<!DOCTYPE html>
{% extends "base.html" %}
<html lang="ru">

<body>

{% block content %}
 <!-- Main -->
        <center><h2>Основная часть</h2>
          <hr>
           <p>Электронная почта</p>
            <a>
        <form class="shine-button" action="mailto:64200164@mail.ru" enctype="text/plain">
        <input type="submit" value="64200164@mail.ru">
            </form>
    </a>
          <p>Мы во ВКонтакте</p>
          <a href="https://vk.com/nikulin_bars" class="shine-button">Никулин Владилав</a>
          <a href="https://vk.com/dollynyan" class="shine-button">Дегтерева Ольга</a>
</center>

{% endblock %}
</body>
</html>