<!DOCTYPE html>
{% extends "base.html" %}
<html lang="ru">

<body>

{% block content %}
 <!-- Main -->
        <center>
        <h2>Краткое руководство</h2>
        </center>
          <hr>

        <p>1. Для работы механики сайта трубуется авторизация. Для этого нужно нажать на кнопку "Войти" в правом верхнем углу сайта.</p>
          <p>2. После авторизации вы попадёте на стрничку пользователя, где по центру будет отображаться положение пользователя.</p>
            <p> 2.1. В паннели справа будут отображаться данные пулься и состояния отслеживаемого пользователя.</p>
            <p> 2.2. Состояние может быть:</p>
            <p>  Норма — если пульс находится в установленых рамках<p>
            <p>  Экстра — когда требуется проверка пользователя. Это может произойти из-за отконений от настоек нормального пульса.
            <p>  Требуется помощь — когда пользователь сам запрашивает помощь. </p>
            <p>  Трбуется настройка — когда необходимо проверить оборудование на корректность каботы. Также это может быть из-за длительного поиска спутника.</p>
          <p>3. Сведения об актуальности выводимых данных выделены серым курсивом.</p>


{% endblock %}
</body>
</html>