<!DOCTYPE html>
{% extends "base.html" %}
<html lang="ru">

<body>

{% block content %}
 <!-- Main -->
      <center>
        <h2>Местоположение</h2>
          <hr>

          {% if user %}
            <div id="map"></div>
            <script type="text/javascript">

	ymaps.ready(init);
	var myMap;

	function init() {

		myMap = new ymaps.Map("map", {
			center: [{{ latitude }}, {{ longitude }}], // Координаты центра карты
			zoom: 16 // Маштаб карты
		});

		myMap.controls.add(
			new ymaps.control.ZoomControl()  // Добавление элемента управления картой
		);

		myPlacemark = new ymaps.Placemark([{{ latitude }}, {{ longitude }}], {}, {  // Координаты метки объекта
	        preset: "twirl#greyIcon" // 	'twirl#hospitalIcon' - если нужна помощь
        });

myMap.geoObjects.add(myPlacemark);

		myMap.geoObjects.add(myPlacemark); // Добавление метки
		//myPlacemark.balloon.open(); // Открытие подсказки метки

	};

    </script>

        {% else %}
        <h3>Для отображения даных о местоположении — авторизирутйесь на сайте</h3>
    {% endif %}
</center>
{% endblock %}
</body>
</html>