<!DOCTYPE html>
{% extends "base.html" %}
<html lang="ru">

<body>

{% block content %}
 <!-- Main -->
    <center><h2>Информация по проекту</h2></center>
    <hr>
        <h3> Проект системы мониторинга местоположения и состояния людей с ограниченными возможностями создан специально
            для курса IT Академии Samsung по Интернет вещам — IoT</h3>
    <hr>
        <h3> Данный проект видут</h3>
        <center>
        </a>
          <a href="https://vk.com/nikulin_bars" class="shine-button">Никулин Владилав </a>
          <a href="https://vk.com/dollynyan" class="shine-button"> Дегтерева Ольга</a>

        <h3> МИРЭА - Российский технологический университет </h3>
        <h3> ИВБО-03-19 </h3>
        </center>
    <hr>
        <h5>
            <p>Планы развития проекта:</p>
            <p>• уменьшение платы Arduino, для снижения стоимости и уменьшения габаритов устройства;</p>
            <p>• переход с Wi-fi модуля на мобильную сеть интернет;</p>

            <p>Возможные направления развития проекта:</p>
            <p>• соединение уже существующей системы помощи маломобильных гражданам города с нашей системой. Взять лучшее от обеих систем.</p>
            <p>• создание приложения на телефон, которое способно уведомлять ближайших пользователей об необходимости помощи человеку рядом;</p>
            <p>• создания виджета в соц.сети ВКонтакте, чтобы использовать уже распространённое приложение.</p>

        </h5>

{% endblock %}
</body>
</html>